WebApplicationJedi/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFJedi" />
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:getJedis" />
  </wsdl:message>
  <wsdl:message name="IService_getJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getStades_InputMessage">
    <wsdl:part name="parameters" element="tns:getStades" />
  </wsdl:message>
  <wsdl:message name="IService_getStades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStadesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatches" />
  </wsdl:message>
  <wsdl:message name="IService_getMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getTournois_InputMessage">
    <wsdl:part name="parameters" element="tns:getTournois" />
  </wsdl:message>
  <wsdl:message name="IService_getTournois_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTournoisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getCaracteristiquesOf_InputMessage">
    <wsdl:part name="parameters" element="tns:getCaracteristiquesOf" />
  </wsdl:message>
  <wsdl:message name="IService_getCaracteristiquesOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCaracteristiquesOfResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:addJedi" />
  </wsdl:message>
  <wsdl:message name="IService_addJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:addJediResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getJedis" message="tns:IService_getJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getJedisResponse" message="tns:IService_getJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getStades" message="tns:IService_getStades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStadesResponse" message="tns:IService_getStades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getMatches" message="tns:IService_getMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getMatchesResponse" message="tns:IService_getMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTournois">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getTournois" message="tns:IService_getTournois_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getTournoisResponse" message="tns:IService_getTournois_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCaracteristiquesOf">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCaracteristiquesOf" message="tns:IService_getCaracteristiquesOf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCaracteristiquesOfResponse" message="tns:IService_getCaracteristiquesOf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addJedi" message="tns:IService_addJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addJediResponse" message="tns:IService_addJedi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getJedis">
      <soap:operation soapAction="http://tempuri.org/IService/getJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStades">
      <soap:operation soapAction="http://tempuri.org/IService/getStades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatches">
      <soap:operation soapAction="http://tempuri.org/IService/getMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournois">
      <soap:operation soapAction="http://tempuri.org/IService/getTournois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCaracteristiquesOf">
      <soap:operation soapAction="http://tempuri.org/IService/getCaracteristiquesOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addJedi">
      <soap:operation soapAction="http://tempuri.org/IService/addJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1379/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>