WebApplicationJedi/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFJedi" />
      <xsd:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getJedis_InputMessage">
    <wsdl:part name="parameters" element="tns:getJedis" />
  </wsdl:message>
  <wsdl:message name="IService_getJedis_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJedisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getStades_InputMessage">
    <wsdl:part name="parameters" element="tns:getStades" />
  </wsdl:message>
  <wsdl:message name="IService_getStades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStadesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatches" />
  </wsdl:message>
  <wsdl:message name="IService_getMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getTournois_InputMessage">
    <wsdl:part name="parameters" element="tns:getTournois" />
  </wsdl:message>
  <wsdl:message name="IService_getTournois_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTournoisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getCaracteristiquesOf_InputMessage">
    <wsdl:part name="parameters" element="tns:getCaracteristiquesOf" />
  </wsdl:message>
  <wsdl:message name="IService_getCaracteristiquesOf_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCaracteristiquesOfResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getCaracteristiques_InputMessage">
    <wsdl:part name="parameters" element="tns:getCaracteristiques" />
  </wsdl:message>
  <wsdl:message name="IService_getCaracteristiques_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCaracteristiquesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:addJedi" />
  </wsdl:message>
  <wsdl:message name="IService_addJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:addJediResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addStade_InputMessage">
    <wsdl:part name="parameters" element="tns:addStade" />
  </wsdl:message>
  <wsdl:message name="IService_addStade_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStadeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:addMatch" />
  </wsdl:message>
  <wsdl:message name="IService_addMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:addMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addTournoi_InputMessage">
    <wsdl:part name="parameters" element="tns:addTournoi" />
  </wsdl:message>
  <wsdl:message name="IService_addTournoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTournoiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:updateJedi" />
  </wsdl:message>
  <wsdl:message name="IService_updateJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateJediResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateStade_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStade" />
  </wsdl:message>
  <wsdl:message name="IService_updateStade_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStadeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:updateMatch" />
  </wsdl:message>
  <wsdl:message name="IService_updateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateTournoi_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTournoi" />
  </wsdl:message>
  <wsdl:message name="IService_updateTournoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTournoiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_removeJedi_InputMessage">
    <wsdl:part name="parameters" element="tns:removeJedi" />
  </wsdl:message>
  <wsdl:message name="IService_removeJedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeJediResponse" />
  </wsdl:message>
  <wsdl:message name="IService_removeStade_InputMessage">
    <wsdl:part name="parameters" element="tns:removeStade" />
  </wsdl:message>
  <wsdl:message name="IService_removeStade_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeStadeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_removeMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:removeMatch" />
  </wsdl:message>
  <wsdl:message name="IService_removeMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IService_removeTournoi_InputMessage">
    <wsdl:part name="parameters" element="tns:removeTournoi" />
  </wsdl:message>
  <wsdl:message name="IService_removeTournoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeTournoiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_playTournoi_InputMessage">
    <wsdl:part name="parameters" element="tns:playTournoi" />
  </wsdl:message>
  <wsdl:message name="IService_playTournoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:playTournoiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:getPoints" />
  </wsdl:message>
  <wsdl:message name="IService_getPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_setPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:setPoints" />
  </wsdl:message>
  <wsdl:message name="IService_setPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:setPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_inscription_InputMessage">
    <wsdl:part name="parameters" element="tns:inscription" />
  </wsdl:message>
  <wsdl:message name="IService_inscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:inscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_connexion_InputMessage">
    <wsdl:part name="parameters" element="tns:connexion" />
  </wsdl:message>
  <wsdl:message name="IService_connexion_OutputMessage">
    <wsdl:part name="parameters" element="tns:connexionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getJedis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getJedis" message="tns:IService_getJedis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getJedisResponse" message="tns:IService_getJedis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getStades" message="tns:IService_getStades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStadesResponse" message="tns:IService_getStades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getMatches" message="tns:IService_getMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getMatchesResponse" message="tns:IService_getMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTournois">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getTournois" message="tns:IService_getTournois_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getTournoisResponse" message="tns:IService_getTournois_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCaracteristiquesOf">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCaracteristiquesOf" message="tns:IService_getCaracteristiquesOf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCaracteristiquesOfResponse" message="tns:IService_getCaracteristiquesOf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCaracteristiques">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCaracteristiques" message="tns:IService_getCaracteristiques_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCaracteristiquesResponse" message="tns:IService_getCaracteristiques_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addJedi" message="tns:IService_addJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addJediResponse" message="tns:IService_addJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStade">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addStade" message="tns:IService_addStade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addStadeResponse" message="tns:IService_addStade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addMatch" message="tns:IService_addMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addMatchResponse" message="tns:IService_addMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTournoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addTournoi" message="tns:IService_addTournoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addTournoiResponse" message="tns:IService_addTournoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateJedi" message="tns:IService_updateJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateJediResponse" message="tns:IService_updateJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStade">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateStade" message="tns:IService_updateStade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateStadeResponse" message="tns:IService_updateStade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateMatch" message="tns:IService_updateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateMatchResponse" message="tns:IService_updateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTournoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateTournoi" message="tns:IService_updateTournoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateTournoiResponse" message="tns:IService_updateTournoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeJedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/removeJedi" message="tns:IService_removeJedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/removeJediResponse" message="tns:IService_removeJedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeStade">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/removeStade" message="tns:IService_removeStade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/removeStadeResponse" message="tns:IService_removeStade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/removeMatch" message="tns:IService_removeMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/removeMatchResponse" message="tns:IService_removeMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeTournoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/removeTournoi" message="tns:IService_removeTournoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/removeTournoiResponse" message="tns:IService_removeTournoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="playTournoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/playTournoi" message="tns:IService_playTournoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/playTournoiResponse" message="tns:IService_playTournoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getPoints" message="tns:IService_getPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getPointsResponse" message="tns:IService_getPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/setPoints" message="tns:IService_setPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/setPointsResponse" message="tns:IService_setPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/inscription" message="tns:IService_inscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/inscriptionResponse" message="tns:IService_inscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="connexion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/connexion" message="tns:IService_connexion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/connexionResponse" message="tns:IService_connexion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getJedis">
      <soap:operation soapAction="http://tempuri.org/IService/getJedis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStades">
      <soap:operation soapAction="http://tempuri.org/IService/getStades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatches">
      <soap:operation soapAction="http://tempuri.org/IService/getMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTournois">
      <soap:operation soapAction="http://tempuri.org/IService/getTournois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCaracteristiquesOf">
      <soap:operation soapAction="http://tempuri.org/IService/getCaracteristiquesOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCaracteristiques">
      <soap:operation soapAction="http://tempuri.org/IService/getCaracteristiques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addJedi">
      <soap:operation soapAction="http://tempuri.org/IService/addJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStade">
      <soap:operation soapAction="http://tempuri.org/IService/addStade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMatch">
      <soap:operation soapAction="http://tempuri.org/IService/addMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTournoi">
      <soap:operation soapAction="http://tempuri.org/IService/addTournoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJedi">
      <soap:operation soapAction="http://tempuri.org/IService/updateJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStade">
      <soap:operation soapAction="http://tempuri.org/IService/updateStade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMatch">
      <soap:operation soapAction="http://tempuri.org/IService/updateMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTournoi">
      <soap:operation soapAction="http://tempuri.org/IService/updateTournoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeJedi">
      <soap:operation soapAction="http://tempuri.org/IService/removeJedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeStade">
      <soap:operation soapAction="http://tempuri.org/IService/removeStade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeMatch">
      <soap:operation soapAction="http://tempuri.org/IService/removeMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeTournoi">
      <soap:operation soapAction="http://tempuri.org/IService/removeTournoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="playTournoi">
      <soap:operation soapAction="http://tempuri.org/IService/playTournoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPoints">
      <soap:operation soapAction="http://tempuri.org/IService/getPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPoints">
      <soap:operation soapAction="http://tempuri.org/IService/setPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inscription">
      <soap:operation soapAction="http://tempuri.org/IService/inscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connexion">
      <soap:operation soapAction="http://tempuri.org/IService/connexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1379/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>