WebApplicationJedi/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFJedi" />
  <xs:element name="getJedis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getJedisResult" nillable="true" type="q1:ArrayOfJediWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getStadesResult" nillable="true" type="q2:ArrayOfStadeWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getMatchesResult" nillable="true" type="q3:ArrayOfMatchWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTournois">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTournoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getTournoisResult" nillable="true" type="q4:ArrayOfTournoiWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaracteristiquesOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jediName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaracteristiquesOfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getCaracteristiquesOfResult" nillable="true" type="q5:ArrayOfCaracteristiqueWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="jedi" nillable="true" type="q6:JediWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addJediResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="stade" nillable="true" type="q7:StadeWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addStadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="match" nillable="true" type="q8:MatchWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="tournoi" nillable="true" type="q9:TournoiWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTournoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTournoiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="jedi" nillable="true" type="q10:JediWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateJediResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="stade" nillable="true" type="q11:StadeWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="match" nillable="true" type="q12:MatchWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="tournoi" nillable="true" type="q13:TournoiWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTournoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTournoiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="jedi" nillable="true" type="q14:JediWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeJediResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="stade" nillable="true" type="q15:StadeWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeStadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="match" nillable="true" type="q16:MatchWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeMatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="tournoi" nillable="true" type="q17:TournoiWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTournoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeTournoiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playTournoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="tournoi" nillable="true" type="q18:TournoiWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playTournoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playTournoiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPointsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setPointsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inscriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connexionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>