WCFJediTest/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1379/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFJedi" />
  <xs:element name="getJedis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getJedisResult" nillable="true" type="q1:ArrayOfJediWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getStadesResult" nillable="true" type="q2:ArrayOfStadeWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getMatchesResult" nillable="true" type="q3:ArrayOfMatchWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTournois">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTournoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getTournoisResult" nillable="true" type="q4:ArrayOfTournoiWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaracteristiquesOf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jediName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaracteristiquesOfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="getCaracteristiquesOfResult" nillable="true" type="q5:ArrayOfCaracteristiqueWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFJedi" minOccurs="0" name="jedi" nillable="true" type="q6:JediWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addJediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addJediResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>